body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ECFBFF;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 18pt;
    font-family: "Mongolian Baiti", "Times New Roman", sans-serif;
    color: #185C85;
}
#myname {
    font-size: 26pt;
    font-family: "Mongolian Baiti", "Times New Roman", sans-serif;
    color: #185C85;
}
